<div class="tabs__navbar">
  <nav mat-tab-nav-bar class="tabs__nav" [tabPanel]="tabPanel">
     <!-- [routerLink]="['/todo/', pathId, 'queryParams']" -->
    <a mat-tab-link  [routerLink]="['/todo/', id]">
      Todo
    </a>
    <a mat-tab-link  [routerLink]="['/home']">
      Home
    </a>
    <a mat-tab-link  [routerLink]="['/signal']">
      Signal
    </a>
    <a mat-tab-link  [routerLink]="['/mistakes']">
      Mistakes
    </a>
  </nav>
</div>
<!-- mat-tab-nav-panel is important -->
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

