<p>todo works!</p>
<p>Counter is from Counter service: {{counter()}}</p>
<button (click)="openDetails()">open details</button>
<button (click)="onChange()">change</button>
<ng-container *ngIf="isOpen">
  <app-more-details [counter]="counter()"></app-more-details>
</ng-container>

<hr>


<div><input type="text" (keyup)="onChangeText()"></div>
<div style="margin: 10px 0"><button (click)="changeArray()">Change Value</button></div>
<!-- self closing tags -->
<app-todo-item *ngFor="let todo of todoList" [todo]="todo" [primitiveValue]="primitiveValue">
